{% extends 'base.html' %}
{% block title %}NAGOYAMESHI{% endblock %}


{% block content %}
<a href="{% url 'top' %}" class="button">トップページに戻る</a>

<h4>お気に入り店舗の一覧</h4>

{% if favorites %}
    {% for favorite in favorites %}
    <div>
        <div>店舗名: {{ favorite.restaurant }}</div>
        <a href="{% url 'restaurant' favorite.restaurant.id %}">詳細</a>
    </div>
    {% endfor %}
{% else %}
    <p>現在、お気に入り店舗はありません。</p>
{% endif %}


{% if is_premium %}
    <a href="{% url 'portal' %}">有料会員設定</a>
{% else %}
    {# CheckoutView の postメソッドを呼び出す。 #}
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="有料会員登録はこちら">
    </form>
{% endif %}


<h4>予約一覧</h4>

{% if reservations %}
    {% for reservation in reservations %}
    <div>
        <div>店舗名: {{ reservation.restaurant.name }}</div>
        <div>予約日: {{ reservation.datetime }}</div>
        <div>人数: {{ reservation.headcount }}名</div>
        <a href="{% url 'restaurant' reservation.restaurant.id %}">詳細</a>
    </div>
    <hr>
    {% endfor %}
{% else %}
    <p>現在、予約はありません。</p>
{% endif %}


{% endblock %}