{% extends 'base.html' %} {% block title %}NAGOYAMESHI{% endblock %} {% block content %}
<a href="{% url 'top' %}" class="button">トップページに戻る</a>
<h6>店舗詳細</h6>
<h4>{{ restaurant.name }}</h4> <br>
{# 店舗説明(description)を表示するには？ #}
<h6>[店舗説明]{{ restaurant.description }}</h6> <br>
<h6>[営業時間]{{ restaurant.start_at }}~{{ restaurant.end_at }}</h6> <br>

{# TODO:お気に入りのボタンを用意する #}
<form action="{% url 'favorite' restaurant.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="お気に入り登録する">
</form>


{# TODO: レビュー投稿用のフォームを作る #}

{# action属性: このフォームの送信先のURLを指定する #}
{# {% url 'restaurant' restaurant.id %} と {% url 'URL名' 引数 %} でURLが作られる。 #}
{# {% url 'review' restaurant.id %} #}

<form action="{% url 'review' restaurant.id %}" method="post">
    {% csrf_token %}

    {# userとrestaurantがクライアント側から指定できると、なりすましできる。サーバー側で保存する。 #}
    {% comment %}
    <input type="text" name="user" value="{{ request.user.id }}">
    <input type="text" name="restaurant" value="{{ restaurant.id }}">
    {% endcomment %}

    <label for="star">評価 (1〜5):</label>
    <input type="number" name="star" min="1" max="5">
    <label for="content">レビュー内容:</label>
    <textarea id="content" name="content" rows="4" placeholder="レビューを入力してください。" required></textarea>

    <input type="submit" value="投稿">
</form>



{# 予約フォーム #}
<form action="{% url 'reservation' restaurant.id %}" method="post">
    {% csrf_token %}
    <label for="datetime">予約日時:</label><br>
    <input type="datetime-local" id="datetime" name="datetime" required><br><br>
    
    <label for="headcount">人数:</label><br>
    <input type="number" id="headcount" name="headcount" min="1" placeholder="例: 2人なら「2」と入力" required><br><br>

    <input type="submit" value="予約">
</form>




<h5>レビュー一覧</h5>

{# reviews を1つずつ取り出して表示する #}
{% for review in reviews %}
<div>
    <div>投稿日時: {{ review.created_at }}</div>
    <div>星の数: {{ review.star }}</div>
    <div>投稿者: {{ review.user }}</div>
    <div>レビュー: {{ review.content }}</div>
</div>
{% endfor %}


{% endblock %}

